
/*
@media only screen and(min-width: 425px) {

  .mat-toolbar-row,
  .mat-toolbar-single-row {
    display: flex;
    box-sizing: border-box;
    padding: 0 16px;
    width: 404%;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
  }

} */
/* .mat-button{
  min-width: 126px;
  line-height: 25px;
} */

.mat-button:hover{
  color: cadetblue;
}

.nav-link{
  margin-left: 20px;
}


.bg-img {
  min-height: 380px;
  background-image: url("/bg_image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}
/* .sidenav-container {
  height: 100%;
}
.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.navButton{
  margin-left:975px ;
} */
.search{
  margin-left: 50px;
}

.img2{
  padding-left: 0px;
  height:50px;
  object-fit: contain;
  margin-left: 10px;
  margin-top: 25px;
}

.social-icons a img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.social-icons a:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

.nav-item{
  padding: 0px;
  margin-left: 9px;
  margin-top: 8px;
}
/* footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
} */

.footer-section {
  color: rgb(170, 165, 165);
  /* position:fixed; */
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  /* background-image: url("src\assets\foot2.jpg"); */
  /* background-color: rgba(122, 67, 189, 0.4) */
  /* margin-top: 1vh; */
  /* margin-bottom: 90vh; */
}

.footer-navigations>a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: small;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 1px;
  font-weight:bold;
  color: rgb(236, 22, 112);
  margin-top: 50%;

}
.footer-navigations>a:hover {
  color: rgb(18, 168, 118);
}

.social-icons>a {
  color: rgb(170, 165, 165);
}

.copyright-section>a {
  text-decoration: none;
  color: rgb(54, 142, 158);
}

.copyright-section>a:hover{
  color: brown;
}


