 <div class="container-fluid">
 <div class="mt-5">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Restaurant Name</th>
          <th>Restaurant Location</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody class="tbody">
        <tr *ngFor="let restaurant of restaurant">
          <td>{{restaurant.restaurantName}}</td>
          <td>{{restaurant.restaurantLocation}}</td>
          <td><button type="button" class="btn btn-danger" (click)="delete()">Reject</button></td>
          <td><button type="button" class="btn btn-primary" (click)="Add($event)">Approve</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>