/* .bg-img {  
    min-height: 750px;
    background-image: url("/bg_image.jpg");  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }  */