    
.table {
    margin-top: 2rem !important;
    margin-left: -1rem !important;
    align-content: center;
    color: white;
}

.container-fluid{
  /* margin-left: 1%; */
}

.card {
  min-width: 100px;
  margin-top: 5%;
}


