    
.container-fluid {
  display: block;
}

.card-container {
  display: none;
}

@media screen and (min-width: 481px) {
  /* mobile version css */

  .mt-5 {
    display: block;
  }

  .table {
    position: absolute;
    margin-top: 2rem !important;
    align-content: center;
    color: white;
  }

}


@media screen and (min-width: 200px) and (max-width: 480px) {
  /* mobile version css */

  .mt-5{
    display: none;
  }

  .card-container {
    width: 195px;
    height: 290px;
    display: inline-block;
    margin: 15px;
    border-radius: 2px;
    background: rgb(0 0 0 / 12%);
  }
  
  .card-container img {
    height: 120px;
    background: rgb(0 0 0 / 12%);
  }

}
