/* 
.card {
  position: absolute;
  margin: 4rem;
  margin-left: 15rem;
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
} 

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}  */

.full-width {
  width: 100%;
}

.card {
  min-width: 120px;
  margin-top: 2%;
  background: #212529b8;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}
