<mat-card app-player matRipple class="card" *ngFor="let dish of data;index as indexOfelement">
  <div style="cursor: pointer;" (click)="addTocart(dish)">
  <mat-card-header>
    <mat-card-title>{{ dish.dishName }}</mat-card-title>
    <mat-card-subtitle>{{ dish.dishType }}</mat-card-subtitle>
</mat-card-header>
<mat-card-content>
 <div *ngFor="let image of dish.image">
  <img  [src]="image.image">
  </div>
</mat-card-content>
  </div>
<button mat-mini-fab *ngIf="isadmin">
  <mat-icon style="float: right;" (click)="add(dish)" >favorite</mat-icon>
</button>
</mat-card>
