.card {
  width: 260px;
  height: 280px;
  display: inline-block;
  margin: 20px;
  border-radius: 2px;
  background: rgba(0, 0, 0, 0.437);
}

.card img {
  height: 150px;
  background: rgb(0 0 0 / 12%);
} 

mat-card-content>img{
  object-fit:cover;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

a:hover {
  color: rgb(190, 32, 111);
}