<!-- <div class="bg-image hover-overlay hover-zoom hover-shadow ripple">
    <mdb-card *ngFor="let fav of favs">
    <mdb-card-body>
        <mdb-card-title>
            <h4>{{ fav.restaurantName }}</h4>
        </mdb-card-title>
      </mdb-card-body>
    </mdb-card>
    </div> -->

<div class="bg-image hover-overlay hover-zoom hover-shadow ripple">
    <mat-card app-player matRipple class="card" *ngFor="let fav of favs">
      <div *ngFor="let rest of fav.restaurantList">
        <a routerLink="dishList/{{rest.restaurantId}}">
                <mat-card-content >
                    <mat-card-header>
                        <mat-card-title>{{ rest.restaurantName }}</mat-card-title>
                        <mat-card-subtitle>{{ rest.restaurantLocation }}</mat-card-subtitle>
                    </mat-card-header>
                </mat-card-content>
            </a>
        </div>
        <button mat-mini-fab >
            <mat-icon style="float: right;" (click)="remove(fav)" >favorite</mat-icon>
        </button>
    </mat-card>
  </div>