<mat-toolbar color="primary">
    <span>Add Restaurant</span>
    <button mat-button color="accent" routerLink="/rest">Send Restaurant</button>
    <button mat-button color="accent" routerLink="/dish">Send Dish</button>
    <router-outlet></router-outlet>
</mat-toolbar>

<!-- <mat-toolbar color="primary">
    <h2>Add Restaurant</h2>
</mat-toolbar>
<div>
  <mat-sidenav-container class="sidenav-container" fullscreen>
    <mat-sidenav class="sidenav" mode="side" opened >
          <mat-nav-list>
            <mat-list-item>
                <a routerLink="/">Add Restaurant</a>
              </mat-list-item>
            <mat-list-item>
                <a routerLink="rest">Send Restaurant</a>
            </mat-list-item>
            <mat-list-item>
                <a routerLink="dish">Send Dish</a>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div> -->