<div class="container">
    <form [formGroup]="addRestForm" (ngSubmit)="addRest()">
        <mat-card class="card">
            <mat-card-header>
                <mat-card-title>Add Restaurant</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="row">
                    <div class="col">
                        <mat-form-field class="full-width">
                            <input matInput placeholder="Enter Restaurant Id" formControlName="restaurantId">
                            <mat-error *ngIf="addRestForm.controls['restaurantId'].hasError('required')">
                                Restaurant Id is <strong> required </strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <mat-form-field class="full-width">
                            <input matInput placeholder="Enter Restaurant Name" formControlName="restaurantName">
                            <mat-error *ngIf="addRestForm.controls['restaurantName'].hasError('required')">
                                Restaurant Name is <strong> required </strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <mat-form-field class="full-width">
                            <mat-label>Restaurant Location</mat-label>
                            <input matInput placeholder="Enter Restaurant Location" formControlName="restaurantLocation">
                            <mat-error *ngIf="addRestForm.controls['restaurantLocation'].hasError('required')">
                                Restaurant Name is <strong> required </strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div formGroupName="image">
                    <div class="row">
                    <div class="col">
                        <h6> Upload Restaurant Image</h6>
                        <input name="image" type="file" (change)="onFileSelected($event)">
                    </div>
                </div>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" type="submit" [disabled]="!addRestForm.valid" >Save</button>
            </mat-card-actions>
        </mat-card>
    </form>
</div>