<div class="container">
    <form [formGroup]="addRestForm" (ngSubmit)="addRest()">
        <mat-card class="card">
            <mat-card-header>
                <mat-card-title>Add Restaurant</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="row">
                    <div class="col">
                        <mat-form-field class="full-width">
                            <input matInput placeholder="Enter Restaurant Name" formControlName="restaurantName">
                            <mat-error *ngIf="addRestForm.controls['restaurantName'].hasError('required')">
                                Restaurant Name is <strong> required </strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <mat-form-field class="full-width">
                            <mat-label>Restaurant Location</mat-label>
                            <input matInput placeholder="Enter Restaurant Location" formControlName="restaurantLocation">
                            <!-- <mat-select formControlName="restaurantLocation">
                            <mat-option>choose your location </mat-option>
                            <mat-option *ngFor="let restaurantLocation of Locations" [value]="restaurantLocation">
                                {{restaurantLocation}}
                            </mat-option>
                            </mat-select> -->
                            <mat-error *ngIf="addRestForm.controls['restaurantLocation'].hasError('required')">
                                Restaurant Name is <strong> required </strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" type="submit" [disabled]="!addRestForm.valid" >Save</button>
            </mat-card-actions>
        </mat-card>
    </form>
</div>