<form [formGroup]="search" (ngSubmit)="searching($event)" class="container-fluid">
    <mat-card class="card">
        <mat-card-header>
          <mat-card-title> Restaurant/Cuisine</mat-card-title>
        </mat-card-header>
    <mat-card-content>
        <div class="row">
            <div class="col">
                <mat-form-field class="full-width">
                    <input matInput placeholder="Search By Restaurant / Cuisine" formControlName="find">
                    <mat-error *ngIf="search.controls['find'].hasError('required')">
                    Search By Restaurant Name Or Cuisine Name <strong> required </strong>
                    </mat-error>
                </mat-form-field>

                <mat-card-actions>
                    <button type="submit" mat-raised-button color="primary" [disabled]="!search.valid"> Search</button>
                </mat-card-actions> 
            </div>
        </div>
    </mat-card-content>
    </mat-card>
</form>

<div class="container">
    <div class="row text-lg-left">
        <div class="card2" *ngFor="let dishes of restaurant">
            <div *ngFor="let dishes1 of dishes.dishList">
                <div *ngIf="rest.restaurantName==dishes.restaurantName; then thenBlock else elseBlock"></div>
                <ng-template #thenBlock>
                    <a href="dishList/{{dishes.restaurantId}}">
            <mat-card-content>
                <div>{{dishes.restaurantName}}</div>
                <div>{{dishes1.dishName}}</div>
                <div>{{dishes1.dishType}}</div>
                <div *ngFor="let image of dishes.image">
                <img class="img-thumbnail" [src]="image.image">
                </div>
            </mat-card-content>
        </a>
        </ng-template>
    <ng-template #elseBlock>
        <a href="dishList/{{dishes.restaurantId}}">
            <mat-card-content>
                    <div *ngIf="dishes1.dishName==dish.dishName">
                <div>{{dishes.restaurantName}}</div>
                <div>{{dishes1.dishName}}</div>
                <div>{{dishes1.dishType}}</div>
                <div *ngFor="let image of dishes1.image">
                <img class="img-fluid img-thumbnail" [src]="image.image">
                </div>
                <button mat-mini-fab style="margin-left: 1rem;">
                    <mat-icon style="float: right;" (click)="addTocart(dish)">add_box</mat-icon>
                  </button>
            </div>
            </mat-card-content>
        </a>
    </ng-template>
        </div>
        </div>
    </div>
</div>
