.full-width {
    width: 100%;
}

  .card {
    min-width: 160px;
    margin-top: 2%;
    background:#212529b8;
  }

  .row {
    display: flex;
    flex-direction: row;
  }
  
  .col {
    flex: 1;
    margin-right: 20px;
  }

  .card2 {
    width: 260px;
    height: 270px;
    display: inline-block;
    margin: 20px;
  }

  .card2 img{
    height: 150px;
  }