<form [formGroup]="addRestaurant" (ngSubmit)="sendRestaurant()" class="container-fluid">
    <mat-card class="card">
        <mat-card-header>
          <mat-card-title> Send Restaurant</mat-card-title>
        </mat-card-header>
    <mat-card-content>
        <div class="row">
            <div class="col">
                <mat-form-field class="full-width">
                    <input matInput placeholder="Enter Restaurant Name" formControlName="restaurantName">
                    <mat-error *ngIf="addRestaurant.controls['restaurantName'].hasError('required')">
                    Restaurant Name is <strong> required </strong>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field class="full-width">
                    <input matInput placeholder="Enter Restaurant Location" formControlName="restaurantLocation">
                    <mat-error *ngIf="addRestaurant.controls['restaurantLocation'].hasError('required')">
                    Restaurant Location is <strong> required </strong>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div formGroupName="image">
            <div class="row">
            <div class="col">
                <input name="image" type="file" (change)="onFileSelected($event)">
            </div>
        </div>
        </div>
</mat-card-content>
    <mat-card-actions>
        <button type="submit" mat-raised-button color="primary" [disabled]="!addRestaurant.valid">send Restaurant</button>
        <button  mat-raised-button color="primary" class="search" routerLink="/dish" style="float:right" [disabled]="sendDish===false">Send Dish</button>
    </mat-card-actions>  
    </mat-card>
</form>