<!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->



<div class="bg-image hover-overlay hover-zoom hover-shadow ripple">
    <mat-card app-player matRipple class="card" *ngFor="let restuarent of data">
        <mat-card-header>
        <mat-card-title>{{ restuarent.restaurantName }}</mat-card-title>
        <mat-card-subtitle>{{ restuarent.restaurantLocation }}</mat-card-subtitle>
    </mat-card-header>
       <a routerLink="dishList/{{restuarent.restaurantId}}">
    <mat-card-content>
    <div *ngFor="let image of restuarent.image">
            <img mat-card-image [src]="image.image">
        </div>
    </mat-card-content>
    </a>
    <a routerLink="dishList01/{{restuarent.restaurantId}}"></a>
        <mat-icon style="float: right;"  (click)="add(restuarent)" >favorite</mat-icon>
    </mat-card>
    </div>