.card {
  width: 260px;
  height: 270px;
  display: inline-block;
  margin: 20px;
}

.card img{
  height: 150px;
  background: rgba(0, 0, 0, 0.12);
}

a {
  text-decoration: none;
  color: whitesmoke;
}

a:hover {
  color: rgb(190, 32, 111);
}
