<!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->



<div class="bg-image hover-overlay hover-zoom hover-shadow ripple">
    <mat-card app-player matRipple class="card" *ngFor="let restuarent of data">
        
       <a routerLink="dishList/{{restuarent.restaurantId}}">
        <!-- <div class="mask" style="background-color: rgba(57, 192, 237, 0.2);"> -->
        {{restuarent.restaurantId}}
    <mat-card-content>
    <div>{{ restuarent.restaurantName }}</div>
    <h5>{{ restuarent.restaurantLocation }}</h5>
    <div *ngFor="let image of restuarent.image">
            <img mat-card-image [src]="image.image">
        </div>
    </mat-card-content>
    <!-- </div> -->
    </a>
    <a routerLink="dishList01/{{restuarent.restaurantId}}"><mat-icon style="float: right;" onclick="add(restuarent)">favorite</mat-icon></a>
    </mat-card>
    </div>