.card {
  width: 260px;
  height: 270px;
  display: inline-block;
  margin: 20px;
  background: rgba(0, 0, 0, 0.437);
}

.card img {
  height: 150px;
  margin-top: 5px;
  background: rgb(0 0 0 / 12%);
}

a {
  text-decoration: none;
  color: whitesmoke;
}

a:hover {
  color: rgb(190, 32, 111);
}