
<div class="bg-image hover-overlay hover-zoom hover-shadow ripple">
    <mat-card app-player matRipple class="card" *ngFor="let restuarent of restuarents">
        <a routerLink="dishList/{{restuarent.restaurantId}}">
        <mat-card-header>
        <mat-card-title>{{ restuarent.restaurantName }}</mat-card-title>
        <mat-card-subtitle>{{ restuarent.restaurantLocation }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <img mat-card-image [src]="restuarent.restaurantImage">
    <!-- <div *ngFor="let image of restuarent.image">
            <img mat-card-image [src]="image.image">
        </div> -->
    </mat-card-content>
    </a>
    <a routerLink="dishList/{{restuarent.restaurantId}}"></a>
    <button mat-mini-fab *ngIf="isadmin" >
        <mat-icon [style.color]="restuarent.isFavourite" (click)="add(restuarent)" >favorite</mat-icon>
    </button>
    </mat-card>
    </div>